* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #005d02;
}

.header p {
    padding: 5px 0;
    margin: 5px 0;
    color: #fff;
    font-size: 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #3aff26;
}

.video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: blue;
    text-align: center;
    border: 1px solid black;
}

table {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: 50px auto; /* Margin pode-se colocar antes suas margin bot e top */
}

td, tr {
    border: 1px solid black;
}
